 {% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div style="text-align: center; margin-top: 50px;">
        {% if is_granted('ROLE_ADMIN') %}
            <h1>You are logged in as Admin. You have full access.</h1>
        {% elseif is_granted('ROLE_USER') %}
            <h1>You are logged in as Regular User. Limited access granted.</h1>
        {% else %}
            <h1>Access Denied.</h1>
        {% endif %}
    </div>
{% endblock %}
